@font-face {
  font-family: 'DOSGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'DOSGothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  position: relative;
}

*:not(table, table *, .calender) {
  width: 100%;
  height: 100%;
}

.app {
  position: fixed;
}

.main {
  background-color: black;
  overflow: hidden;
}

/*
************* Construction ***************
*/
.construction-inner {
  font-size: 20pt;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(14, 14, 14);
  color: rgb(118, 118, 118);
}

.construction-outer {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: black;
}


.construction-inner * {
  height: auto;
}


/*
****************** TopPost ******************
*/
/* .top-post {
  display: flex;
  align-items: end;
  justify-content: end;
} */


/*
****************** Info ******************
*/
.info {
  display: flex;
  flex-direction: column;
  color: gray;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  background-color: rgb(14, 14, 14);
}

.info .d-day{
  font-family: 'Courier New', Courier, monospace;
}
.info-title{
  height: 1.5%;
 }

.info-time {
  height: 50%;
}

.visitor {
  height: 25%;
}

.grass {
  height: 23.5%;
}

.grass {
  display: flex;
  align-items: center;
  justify-content: center;
}

.curr-time {
  height: 40%;
}

.curr-time>* {
  padding : 10px;
  width: calc(100% - 20px);
  height: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.seoul-time>*, .toronto-time>* {
  height: 50%;
}

.left-time, .info-time, .curr-time>*, .visitor, .grass {
  border-top: 0.1px solid gray;
}

/* 
.left-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding : 10px;
  width: calc(100% - 20px);
  height: calc(35% - 20px);
}

.left-time>* {
  height: 50%;
}

.left-time-time {
  display: flex;
  flex-direction: row;
}

.left-time-time>* {
  padding-right: 10px;
}

.left-day, .left-time-text {
  color: green;
  font-weight: 500;
  font-size: 3.5rem;
  width: auto;
}

.left-hour {
  font-size: 1.5rem;
  width: auto;
  color: rgb(251, 0, 255);
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
} */

.time-title {
  /* color: rgb(77, 77, 77); */
  color: green;
  /* font-weight: bold; */
  font-size: 1.9vw;
  display: flex;
  align-items: center;
}

.today-time {
  color: gray;
  font-size: 2.1vw;
  font-weight: normal;
}

/* each page in MainPage.js */
/* .user {
  background-color: aqua;
}

.challenge {
  background-color: yellow;
}

.top-post {
  background-color: black;
}

.guest-book {
  background-color: green;
} */

/*
**************** DateTime ****************
*/
.d-day {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.d-day .country {
  /* font-size: 16pt; */
  font-size: 0.65vw;
  font-weight: bold;
  height: 60%;
  color: rgb(255, 1, 107);
}

.d-day .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 73%;
}

.d-day .date * {
  font-size: 0.9vw;
  /* font-size: 0.48vw; */
  font-weight: bold;
}
.d-day .date .d {
  width: 19%;
}
.d-day .date .plus {
  width: 17%;
}
.d-day .date .num {
  width: 20%;
  text-align: center;
}
.d-day .date .num.num1 {
  width: 17%;
}
/* 3d
.d-day .date .d {
  font-size: 0.48vw;
}

.d-day .date .num {
  font-size: 0.41vw;
  margin-left: 7px;
}
.d-day .date .num1 {
  margin-right: 0.35vw;
}
// .d-day .date .num4 {
//  font-size: 6pt;
// } 
.d-day .date .num5 {
  font-size: 0.37vw;
}
*/

.d-day .secondRow {
  display: flex;
  height: 40%;
}

.d-day .secondRow .flag {
  width: 27%;
  font-size: 0.12vw;
  display: flex;
  align-items: center;
  text-align: center;
  /* color: rgb(173, 177, 242); */
  color: white;
}


/*
**************** MainPage ****************
*/
.main {
  display: grid;
  grid-template-columns: 1.3fr 1.2fr 1.3fr;
  grid-template-rows: 2fr 1fr;
}

.main-left {
  grid-row: 1 / span 2;
  overflow: hidden;
}

.main-bottom {
  grid-column: 2 / span2;
}

.main-right {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  position: relative;
}

.main-setting {
  position: absolute;
  display: flex;
  justify-content: end;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: gray;
  width: calc(100% - 20px);
  height: 20px;
}

.lang {
  width: auto;
}

.lang:hover {
  cursor: pointer;
  font-weight: bold;
}

.main-center {
  display: flex;
  flex-direction: column;
}

@keyframes box-ani {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(7vw, 0);
	}
}
.from-host {
  height: 30%;
  color: green;
  font-size: 6vw;
  /* font-family:'Courier New', Courier, monospace; */
  position: relative;
}

.host-msg, .txt {
  width: auto;
  height: auto;
  position: absolute;
  animation: box-ani 2s linear alternate infinite;
}

.host-msg:hover{
  animation-play-state: paused;
  font-weight: bold;
}

.logout-btn {
  width: 60px;
  height: auto;
  padding: 5px;
  margin: 10px;
  background-color: green;
  border-radius: 9%;
  position: absolute;
  right: 1%;
  bottom: 1%;
}

.logout-btn:hover {
  cursor: pointer;
}


/*
**************** Login ****************
*/
.login {
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-prompt {
  background-color: white;
  width: 60%;
  height: 60%;
  min-width: 500px;
  min-height: 300px;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-top-bar {
  background-color: rgb(56, 56, 56);
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
}

.login-top-bar-buttons {
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.login-top-bar-buttons *{
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-left: 8px;
}

.red-button {
  background-color: rgb(235, 100, 100);
}

.yellow-button {
  background-color: rgb(255, 197, 73);
}

.green-button {
  background-color: rgb(49, 200, 49);
}

.login-top-bar-text {
  width: calc(100% - 60px);
  color: rgb(176, 176, 176);
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-size: 11pt;
  font-weight: bolder;
  margin-right: 60px;
  text-align: center;
  line-height: 28px;
}

.login-text-box {
  background-color: rgb(27, 27, 27);
  width: calc(100% - 10px);
  height: calc(100% - 28px);
  padding-left: 10px;
  overflow: scroll;
}

.written-text {
  height: auto;
  color: green;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 12pt;
  font-weight: bold;
  white-space: pre-line;
}

.input-text {
  height: auto;
  border: none;
  background-color: rgb(27, 27, 27);
  color: green;
  font-family: 'DOSGothic';
  font-size: 12pt;
  font-weight: bold;
  padding: 0;
}

.title {
  color: green;
  /* font-family: 'Courier New', Courier, monospace; */
  font-size: 12pt;
  font-weight: bold;
  width: auto;
}

.input-field {
  display: flex;
  flex-direction: row;
  height: 25px;
  align-items: start;
}

.login .enter-btn {
  width: auto;
  height: 20px;
  padding: 10px;
  background-color: green;
  border-radius: 15%;
  display: inline;
  position: absolute;
  top: 75%;
  left: 85%;
}

.login .enter-btn:hover {
  cursor: pointer;
}


/*
******************* label ******************
*/
/* .label { */
  /* font-family: 'Courier New', Courier, monospace; */
/* } */

/*
**************** Calendar ****************
*/
.calendar {
  /* overflow: scroll;
  height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 0.8vw;
}
.calendar table {
  border-spacing: 0.27vw;
  width: 95%;
  height: 43%;
}

.calendar .td.date {
  background-color: rgb(59, 59, 59);
}

.calendar .tbody{
  height: 75%;
  width: 100%;
}

.calendar .thead{
  height: 25%;
  width: 100%;
}

.calendar .thead .td, .calendar .tbody .td {
  padding: 0;
}

.calendar .td.first {
  /* DayLabelShort: true일 때는 35px */
  width: 4%;
}

.calendar .td.first.day {
  width: 1%;
}

.calendar .tbody .day {
  position: absolute;
}

.calendar .thead .month {
  position: absolute;
  /* width: 30px; */
}

.calendar-tooltip {
  visibility: hidden;
  position: absolute;
  background-color: rgb(58, 58, 58);
  color: white;
  font-size: 13pt;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-weight: normal;
  padding: 7px;
  border-radius: 7px;
  text-align: center;
  margin-left: -150px;
  margin-top: -50px;
}

.calendar-tooltip.left {
  margin-left: -50px;
}
.calendar-tooltip.left-2 {
  margin-left: -70px;
}
.calendar-tooltip.left-3 {
  margin-left: -90px;
}

/* 칸을 작게 수정하여 화살표 주석처리 */
/* 
.calendar-tooltip.left::after {
  left: 29%;
}

.calendar-tooltip::after {
  position: absolute;       
  border-style: solid;
  border-width: 8px;
  content: " ";
  border-color: rgb(58, 58, 58) transparent transparent transparent;
  top: 100%;
  left: 50%;
} */

.calendar .td.date:hover .calendar-tooltip{
  visibility: visible;
}





/*
************* GuestBook *************
*/

.guest-book-outer {
  color: gray;
  padding: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  min-height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.guest-book-title {
  height: 4%;
}

.guest-book-inner {
  height: calc(100% - 25px);
  /* background-color: white; */
  background-color: rgb(14, 14, 14);
  border-top: 0.1px solid gray;
  /* margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px); */
}

.guest-book-contents {
  width: auto;
  height: 93%;
  /* height: calc(100% - 28px); */
  max-height: calc(100% - 28px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-size: 0.7vw;
}

.guest-book-input {
  width: auto;
  height: 7%;
}

.guest-book-input .input-text {
  height: 100%;
}

/* login input도 적용됨 */
.input-text:focus {
  outline: none;
}
.guest-book-content {
  display: flex;
  flex-direction: row;
  height: auto;
}
.guest-book-content:hover, .guest-book-content.selected {
  background-color: green;
  cursor: pointer;
}
.guest-book-content:hover *,
.guest-book-content.selected * {
  color: white;
}
.guest-book-content:hover .gb-depth *,
.guest-book-content.selected .gb-depth * {
  border-left: 1px solid white;
}
.guest-book-content:hover .gb-depth.end .gb-depth-bottom,
.guest-book-content.selected .gb-depth.end .gb-depth-bottom {
  border-top: 1px solid white;
}
.gb-date {
  width: 20%;
  min-width: 20%;
  margin-right: 8px;
}
.gb-depth {
  width: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.gb-depth * {
  border-left: 1px solid green;
  height: inherit;
  width: 20px;
}
.gb-depth .gb-depth-top {
  max-height: 9px;
}
.gb-depth.last .gb-depth-bottom {
  border-left: none;
}
.gb-depth.last:not(.end) * {
  border-left: none;
}
.gb-depth.end .gb-depth-bottom {
  border-top: 1px solid green;
  margin-right: 5px;
  width: 7px;
}
.gb-name {
  width: auto;
  overflow: visible;
  margin-right: 10px;
  max-height: 20px;
  color: rgb(166, 166, 166);
}
.gb-content {
  width: auto;
  max-width: 63%;
  height: auto;
  color: green;
}

/*
************* Users *************
*/
.users {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 70%;
}

.user {
  display: flex;
  flex-direction: row;
  color: rgb(157, 157, 157);
  height: auto;
  width: 100%;
  font-size: 1vw;
}

.user * {
  margin-left: 5px;
  padding: 7px;
  width: calc(100% - 14px);
  height: auto;
}

.user-message {
  width: 35%;
}

.user .user-date {
  width: 35%;
  border-right: 1px solid white;
  margin-right: 3px;
}

.user .user-name {
  width: 30%;
  padding-left: 12px;
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.user-title {
  font-size: 1.3vw;
  color: rgb(78, 76, 76);
}

.user:not(.user-title):hover {
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(61, 61, 61);
}

.user.master:hover *{
  position: relative;
  animation: anime_textup 1.5s infinite;
}
.user.master div:nth-of-type(1) {
    /* animation-delay: .1s; */
}

.user.master div:nth-of-type(2) {
    animation-delay: .1s;
}

.user.master div:nth-of-type(3) {
    animation-delay: .2s;
}

@keyframes anime_textup { 0% { top: 0; } 20% { top: -0.4rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}



/*
************* Blog *************
*/
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.67);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.close-btn {
  position: absolute;
  right: 0.7vw;
  top: 1vw;
  height: 1.3vw;
  width: 1.3vw;
  border: none;
  background-color: transparent;
  padding: 0;
}

.close-btn:hover {
  font-weight: bold;
}

.blog {
  width: 95%;
  height: 95%;
  background-color: black;
  border: 1px solid gray;
  border-radius: 1%;
  display: flex;
  flex-direction: row;
}

.btn:hover {
  cursor: pointer;
}

.comments {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin: 10px;
  width: calc(20% - 10px);
  height: calc(100% - 20px);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.comment-list {
  display: flex;
  flex-direction: column;
  height: 93%;
  overflow: scroll;
}

.comment-input {
  height: 7%;
}

.comment-input .input-text{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 10px);

}

.posting-list {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid gray;
  margin: 10px;
  width: calc(20% - 20px);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.blog-list {
  height: auto;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: calc(100% - 20px);
  color: green;
}
.blog-list * {
  height: auto;
  width: auto;
}

.blog-posting {
  padding: 20px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  color: green;
  height: calc(100% - 60px);
  width: calc(60% - 40px);
  overflow-y : scroll;
}

.blog-title {
  height: auto;
  color: green;
  font-size: 50px;
  margin-top: 30px;
}

.selected-post {
  font-weight: bold;
  text-decoration: underline;
}

.posting:hover {
  cursor: pointer;
  font-weight: bold;
}

.blog-list.new {
  height: 50px;
  width: auto;
  margin: 10px;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  border-radius: 4px;
}

.blog-list.new:hover {
  background-color: rgb(34, 34, 34);
  font-weight: bold;
  cursor: pointer;
}

.posting-text {
  height: auto;
}


/*
************* BlogWrite *************
*/

/* .blog-write .input-text{
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
} */

.blog-write {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  height: calc(100% - 20px);
}

.blog-write-area {
  width: calc(100% - 20px);
  height: calc(70% - 20px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 1px solid gray; */
}

.blog-write-title {
  height: auto;
}

.blog-write-button {
  width: calc(100% - 20px);
  height: calc(10% - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
}

.upload-image {
  padding: 10px;
  padding-bottom: 0;
  width: calc(100% - 20px);
  height: calc(10% - 10px);
}

.upload-image > * {
  background-color: rgba(41, 42, 42, 0.443);
  text-align: center;
  font-size: 1.3vw;
  line-height: 2rem;
  color: rgba(0, 128, 0, 0.763);
}

.blog-write-button > *{
  background-color: rgba(41, 42, 42, 0.443);
  width: calc(50% - 5px);
  text-align: center;
  font-size: 1.3vw;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 128, 0, 0.763);
}

/* .blog-write-button > .btn {
  height: 15%;
} */

/* .blog-write-button .add-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.blog-write-button *:hover, .upload-image:hover .upload-image-box{
  cursor:pointer;
  background-color: rgba(76, 77, 77, 0.443);
  font-weight: bold;
}

.blog-write-title-input {
  min-height: calc(2vw - 60px);
  font-size: 1.6vw;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: calc(100% - 30px);
  resize: none;
  overflow-y: hidden;
}

.blog-write-content-input {
  background-color: black;
  min-height: 2vw;
  font-size: 0.9vw;
  padding: 5px;
  max-width: calc(100% - 10px);
  resize: none;
  overflow-y: hidden;
}

.blog-write-content {
  overflow: scroll;
}

/*
************* UploadImage *************
*/
.upload-image {
  position: relative;
  height: 20%;
}

/* .upload-image-box:hover {
  background-color: rgba(146, 146, 146, 0.276);
} */

.upload-image:hover .blog-text-area-delete {
  display: block;
  cursor: pointer;
}

.upload-image-box {
  /* height: 10vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1vw; */
  /* background-color: rgb(16, 16, 16); */
}

.upload-image-input {
  display: none;
}

.upload-image-preview {
  height: auto;
}

.image-preview {
  width: 60%;
  height: auto;
  position: relative;
}

/*
************* BlogWriteTextArea *************
*/
.blog-text-area {
  position: relative;
  height: auto;
  margin-top: 5px;
}

.blog-text-area-delete {
  position: absolute;
  width: 1vw;
  height: 1vw;
  display: none;
  right: 0.1vw;
  text-align: center;
  padding: 5px;
  margin-top: 0.3%;
}

.image-preview .blog-text-area-delete {
  background-color: rgba(0, 0, 0, 0.479);
}


.blog-text-area:hover .blog-text-area-delete,
.image-preview:hover .blog-text-area-delete {
  display: block;
  cursor: pointer;
}

.blog-text-area:hover .blog-write-content-input{
  background-color: rgba(146, 146, 146, 0.276);
}
